/* personagem- jogador- raça- origem -classe e nível */
.nomes input{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid;
}

.caract input{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid;
}

.caixa {
  width: 75px;
  height: 80px;
  border-radius: 10px;
  border: solid;
}

.for {
  position: absolute;
  margin-top: 70px;
  margin-left: 11px;
}

.atributos {
  display: flex;
  justify-content: space-evenly;
  margin-top: 25px;
  margin-bottom: 5px;
}

.atributos label {
  font-size: x-small;
  position: absolute;
  margin-top: 5px;
  margin-left: 29px;
}

.atributos input {
  width: 50px;
  border-radius: 10px;
}

/* FIM do personagem- jogador- raça- origem -classe e nível */

.vida-mana {
  margin-top: 25px;
}

.vida {
  display: flex;
  height: 85px;
  width: 300px;
  background-color: red;
  border-radius: 10px;
}

.atuais {
  width: 207px;
  height: 60px;
}

#maximos {
  display: flex;
  text-align: center;
  width: 78px;
  height: 60px;
  border-top-left-radius: 10px;
  font-size: xx-large;
}

#atuais {
  border-top-right-radius: 10px;
  width: 207px;
  height: 60px;
  font-size: xx-large;
  display: flex;
  text-align: center;
}

.maxim {
  width: 85px;
  height: 85px;
  background-color: aqua;
  border-top-left-radius: 10px;
}

.maxim label {
  display: flex;
  justify-content: center;
  font-size: small;
}

.atuais label {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: small;
}


.opcoes-ataques input {
  width: 75px;
}

.CAS {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid;
  width: 400px;
  height: 100px;
}

.CA {
  display: flex;
  justify-content: center;
  align-items: center;
}


.CA .defense {
  display: flex;
  flex-direction: column;
}

.CA #Defesa {
  height: 50px;
  width: 50px;
}

.penalidade input[type="number"] {
  width: 25px;
}

.CA input[type="number"] {
  width: 25px;
}

.CA input[list="atributos"] {
  width: 35px;
}

.CA input::-webkit-calendar-picker-indicator {
  display: none !important;
}

.armadura-escudo {
  display: flex;
  flex-direction: column;
}

.armadura-escudo input[type="text"] {
  width: 175px;
}

.armadura-escudo input[type="number"] {
  width: 75px;
}

.armadura-escudo table {
  width: 200px;
}

.exp {
  border: solid;
  width: 188px;
  display: flex;
  flex-direction: column;
}

.proficiencias {
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 180px;
  text-align: center;
  border: solid;
}

.proficiencias input[type="text"] {
  height: 120px;
}

.tamanho {
  display: flex;
  border: solid;
  width: 221px;
}

.tamanho-valor input[type="number"] {
  width: 25px;
}

.input-deslocamento {
  width: 100px;
}

.deslocamento {
  border: solid;
  width: 204px;
}

#lista-tamanho {
  width: 75px;
}


/* divindo as partes por div */

.left {
  margin-right: 50px;
}

.left-down {
  background-color: red;
  width: fit-content;
  margin-right: 30px;
}

.right-down {
  background-color: aqua;
  width: fit-content;
}

.down {
  display: flex;
  background-color: yellow;
}

/* FIM do divindo as partes por div */

.equipamento {
  background-color: rgb(43, 255, 0);
  width: fit-content;
  text-align: center;
}

table #peso {
  width: 50px;
}

.dindin {
  display: flex;
  justify-content: center;
  background-color: green;
}

.dindin .input-dind-1 {
  margin-right: 25px;
}


.pericias-total {
  display: flex;
  flex-direction: column;
}

.pericias input {
  width: 40px;
}

.container {
  display: flex;
}

.tudo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}