/* personagem- jogador- raça- origem -classe e nível */
.nomes input{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid;
}

.caract input{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid;
}

.caixa {
  width: 75px;
  height: 80px;
  border-radius: 10px;
  border: solid;
}

.for {
  position: absolute;
  margin-top: 70px;
  margin-left: 11px;
}

.atributos {
  display: flex;
  justify-content: space-evenly;
  margin-top: 25px;
  margin-bottom: 5px;
}

.atributos label {
  font-size: x-small;
  position: absolute;
  margin-top: 5px;
  margin-left: 29px;
}

.atributos input {
  width: 50px;
  border-radius: 10px;
}

/* FIM do personagem- jogador- raça- origem -classe e nível */
/*Começo da Vida e mana*/

.vida-mana {
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
}

.vida {
  display: flex;
  height: 85px;
  width: 300px;
  border-radius: 10px;
  border-bottom: solid;
}

.atuais {
  width: 207px;
  height: 60px;
}

#maximos {
  display: flex;
  text-align: center;
  width: 78px;
  height: 60px;
  border-top-left-radius: 10px;
  font-size: xx-large;
}

#atuais {
  border-top-right-radius: 10px;
  width: 207px;
  height: 60px;
  font-size: xx-large;
  display: flex;
  text-align: center;
}

.maxim {
  width: 85px;
  height: 85px;
  border-top-left-radius: 10px;
}

.maxim label {
  display: flex;
  justify-content: center;
  font-size: small;
}

.atuais label {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: small;
}

.text-vida-mana {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
  font-size: small;
}

/*Fim da Vida e mana*/
/*Tabela de ataques*/

.ataques {
  border: solid;
  border-radius: 10px;
  margin-bottom: 25px;
}

.ataques table {
  border-collapse: separate; 
  border-spacing: 1em;
}

.ataques tr {
  padding-bottom: 10em;
}

.ataques td {
  border-bottom: 2px solid;
}

.ataques td input {
  border: none;
}

.opcoes-ataques input {
  width: 75px;
}

/*Fim da Tabela de ataques*/
/*Começo da parte de CA/defesa*/


.CA {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: solid;
  width: 500px;
  height: 100px;
  border-radius: 10px;
}


.CA .defense {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.CA .defense label {
  font-size: small;
}

.CA #Defesa {
  height: 30px;
  width: 50px;
  background: none;
  border: none;
  border-bottom: 2px solid;
  border-radius: 5px;
}

#armor {
  margin-top: 35px;
  font-size: x-large;
}

.def-atrb {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.ca-zero {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border-bottom: 2px solid;
}

.ca-zero .outros {
  margin-bottom: 12px;
}

.CA input[type="number"] {
  width: 25px;
  background: none;
  border: none;
  display: flex;
  text-align: center;
  margin-left: 12px;
  font-size: large;
}

.CA input[list="atributos"] {
  width: 35px;
  height: 10px;
  text-align: center;
}

.CA input::-webkit-calendar-picker-indicator {
  display: none !important;
}

.symbol {
  margin-top: 35px;
}

/*Fim da parte de CA/defesa*/
/* Armadura-Escudo */

.armadura-escudo {
  display: flex;
  flex-direction: column;
  margin-top: 55px;
}

.armadura-escudo input[type="text"] {
  width: 175px;
  border: none;
  border-bottom: 2px solid;
}

.armadura-escudo input[type="number"] {
  width: 75px;
  border: none;
  border-bottom: 2px solid;
}

.armadura-escudo table {
  height: 100px;
  width: 200px;
  border: solid;
  border-radius: 10px;
}

.armadura-escudo table tr {
  font-size: small;
}

.armadura-escudo table td {
  padding-right: 26px;
  padding-left: 26px;
}

.proficiencias {
  display: flex;
  flex-direction: column;
  height: 255px;
  width: 315px;
  text-align: center;
  border: solid;
  border-radius: 10px;
  font-size: small;
}

.proficiencias label {
  margin-top: 5px;
}

.proficiencias #textarea {
  height: 227px;
  width: 305px;
  border: none;
  text-align: center;
}

.tamanho {
  display: flex;
  border: solid;
  width: 221px;
}

.tamanho-valor input[type="number"] {
  width: 25px;
}

.input-deslocamento {
  width: 100px;
}

.deslocamento {
  border: solid;
  width: 204px;
}

#lista-tamanho {
  width: 75px;
}


/* divindo as partes por div */

.left {
  margin-right: 50px;
}

.left-down {
  width: fit-content;
  margin-right: 30px;
}

.right-down {
  width: fit-content;
}

.down {
  display: flex;
}

/* FIM do divindo as partes por div */

.equipamento {
  background-color: rgb(43, 255, 0);
  width: fit-content;
  text-align: center;
}

.equipamento input {
  width: 150px;
}

table #peso {
  width: 50px;
}

.dindin {
  display: flex;
  justify-content: center;
  background-color: green;
}

.dindin .input-dind-1 {
  margin-right: 25px;
}

img {
  width: 479px;
  height: 184px;
}

.pericias-total {
  display: flex;
  flex-direction: column;
}

.tabel-pericia input {
  width: 40px;
}

.tabel-pericia {

margin-bottom: 25px;}

.container {
  display: flex;
}

.tudo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}